Repository myoneflag/design-engineering: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:cloudformation, build:docker, build:frontend, build:backend

Path conditions:
  build:cloudformation: any of: cloudformation/**/*
  build:docker: any of: docker/**/*
  build:frontend: any of: node/**/*
  build:backend: any of: node/**/*

move guinea pig
  docker/guinea.pig
Due: build:docker

fix docker
  .gitlab-ci.yml
Due: none

whitespace in config
  .gitlab-ci.yml
Due: none

Delete guinea.pig
  docker/guinea.pig
Due: build:docker

Dev selective build
  .gitlab-ci.yml
Due: none

DEV-475 AS3500 and Barrie's Book PSD Methods additional values
  .gitignore
  node/backend/npm-shrinkwrap.json
  node/common/src/api/catalog/initial-catalog/au-catalog.ts
  node/common/src/api/catalog/initial-catalog/uk-catalog.ts
  node/common/src/api/catalog/initial-catalog/us-catalog.ts
  node/frontend/src/calculations/calculation-engine.ts
Due: build:frontend, build:backend

DEV-552 Manufacturer defaults only for new documents
  node/backend/src/controllers/document.ts
  node/backend/src/controllers/login.ts
  node/common/src/api/document/drawing.ts
  node/common/src/api/document/entities/plants/plant-entity.ts
Due: build:frontend, build:backend

DEV-168 Drag move pipes fixes
  node/frontend/src/htmlcanvas/objects/directed-valve.ts
  node/frontend/src/htmlcanvas/objects/fitting.ts
  node/frontend/src/htmlcanvas/objects/flow-source.ts
  node/frontend/src/htmlcanvas/objects/load-node.ts
  node/frontend/src/htmlcanvas/objects/pipe.ts
  node/frontend/src/htmlcanvas/objects/riser.ts
  node/frontend/src/htmlcanvas/on-screen-items.ts
  node/frontend/src/lib/trigonometry.ts
Due: build:frontend, build:backend

Adding new resource groups for preventing concurent deploys
  .gitlab-ci.yml
Due: none

Skip if brach reset fails
  .gitlab-ci.yml
Due: none

DEV-270 Database Document storage changes
  .vscode/launch.json
  README.md
  cloudformation/elasticbeanstalk/worker/.ebextensions/option_settings.config
  cloudformation/package.json
  cloudformation/template.json
  config/config.prod.env
  config/default.env
  node/backend/npm-shrinkwrap.json
  node/backend/package.json
  node/backend/src/controllers/document.ts
  node/backend/src/controllers/document/handlers.ts
  node/backend/src/controllers/worker.ts
  node/backend/src/migration/1639605815997-drawing_and_operation_version.ts
  node/backend/src/reporting/ReportingManager.ts
  node/backend/src/services/DocumentUpgrader.ts
  node/backend/src/services/SqsClient.ts
  node/backend/src/services/compressDocument.ts
  node/backend/src/services/concurrentDocument.ts
  node/common/src/api/config.ts
  node/common/src/api/constants/example-drawing.ts
  node/common/src/api/document/types.ts
  node/common/src/api/upgrade.ts
  node/common/src/models/Document.ts
  node/common/src/models/Drawing.ts
  node/common/src/models/Operation.ts
  node/frontend/src/api/document.ts
  node/frontend/src/htmlcanvas/layers/calculation-layer.ts
  node/frontend/src/store/document/actions.ts
  node/frontend/src/views/settings/Document.vue
  node/ormconfig.js
  node/package.json
  scripts/worker/messages/DocumentUpgradeExecute:overwrite.json
  scripts/worker/package.json
Due: build:cloudformation, build:frontend, build:backend

DEV-270 fix filename
  scripts/worker/messages/DocumentUpgradeExecute.overwrite.json
  scripts/worker/package.json
Due: none

DEV-559 2 x projects not calculating all pipes are dashed
  node/frontend/src/components/editor/property-window/PlantProperties.vue
  node/frontend/src/store/document/entities/fillDefaultLoadNodeFields.ts
  node/frontend/src/views/settings/Nodes.vue
Due: build:frontend, build:backend

DEV-566 Fix cloning of document
  node/backend/src/controllers/document.ts
  node/frontend/src/store/document/mutations.ts
Due: build:frontend, build:backend

Dev adjust autoscaling policy
  cloudformation/elasticbeanstalk/worker/.ebextensions/sqs_queue_scaling.config
  config/config.manufacturers.env
  config/config.prod.env
  config/default.env
Due: build:cloudformation

DEV-568 Undefined manufacturer
  node/backend/src/services/DocumentUpgrader.ts
  node/common/src/api/config.ts
  node/common/src/api/constants/example-drawing.ts
  node/common/src/api/document/entities/plants/plant-entity.ts
  node/common/src/api/upgrade.ts
  node/frontend/src/htmlcanvas/objects/plant.ts
  node/frontend/src/views/catalog/HotWaterPlantCatalog.vue
Due: build:frontend, build:backend

DEV-158 Name All Components
  node/backend/src/services/DocumentUpgrader.ts
  node/common/src/api/config.ts
  node/common/src/api/constants/example-drawing.ts
  node/common/src/api/document/drawing.ts
  node/common/src/api/document/entities/big-valve/big-valve-entity.ts
  node/common/src/api/document/entities/directed-valves/directed-valve-entity.ts
  node/common/src/api/document/entities/fixtures/fixture-entity.ts
  node/common/src/api/document/entities/flow-source-entity.ts
  node/common/src/api/document/entities/pipe-entity.ts
  node/common/src/api/document/entities/riser-entity.ts
  node/common/src/api/upgrade.ts
  node/frontend/src/calculations/calculation-engine.ts
  node/frontend/src/components/editor/lib/PropertiesFieldBuilder.vue
  node/frontend/src/htmlcanvas/lib/black-magic/auto-connect.ts
  node/frontend/src/htmlcanvas/lib/black-magic/connect-big-valve-to-source.ts
  node/frontend/src/htmlcanvas/lib/black-magic/split-pipe.ts
  node/frontend/src/htmlcanvas/lib/object-traits/connectable.ts
  node/frontend/src/htmlcanvas/objects/big-valve/bigValve.ts
  node/frontend/src/htmlcanvas/objects/directed-valve.ts
  node/frontend/src/htmlcanvas/objects/fixture.ts
  node/frontend/src/htmlcanvas/objects/flow-source.ts
  node/frontend/src/htmlcanvas/objects/pipe.ts
  node/frontend/src/htmlcanvas/objects/riser.ts
  node/frontend/src/htmlcanvas/tools/insert-big-valve.ts
  node/frontend/src/htmlcanvas/tools/insert-directed-valve.ts
  node/frontend/src/htmlcanvas/tools/insert-fixture.ts
  node/frontend/src/htmlcanvas/tools/insert-flow-source.ts
  node/frontend/src/htmlcanvas/tools/insert-pipes.ts
  node/frontend/src/htmlcanvas/tools/insert-riser.ts
  node/frontend/src/store/document/calculations/big-valve-calculation.ts
  node/frontend/src/store/document/calculations/calculation-field.ts
  node/frontend/src/store/document/calculations/directed-valve-calculation.ts
  node/frontend/src/store/document/calculations/fixture-calculation.ts
  node/frontend/src/store/document/calculations/flow-source-calculation.ts
  node/frontend/src/store/document/calculations/pipe-calculation.ts
  node/frontend/src/store/document/calculations/riser-calculation.ts
  node/frontend/src/store/document/calculations/types.ts
Due: build:frontend, build:backend

Increase version to v1.8.1
  node/frontend/package-lock.json
  node/frontend/package.json
  node/frontend/service-worker.js
Due: build:frontend, build:backend

DEV-556 PPR Pipe Does Not Show In Menu
  node/common/src/api/catalog/initial-catalog/au-catalog.ts
  node/common/src/api/catalog/initial-catalog/uk-catalog.ts
  node/common/src/api/catalog/initial-catalog/us-catalog.ts
  node/common/src/api/catalog/price-table.ts
  node/common/src/api/document/entities/pipe-entity.ts
Due: build:frontend, build:backend

DEV-357 Add additional warnings and their messages
  node/frontend/src/calculations/calculation-engine.ts
  node/frontend/src/calculations/drainage.ts
  node/frontend/src/calculations/returns.ts
  node/frontend/src/calculations/utils.ts
  node/frontend/src/components/editor/Warnings.vue
  node/frontend/src/htmlcanvas/objects/gas-appliance.ts
  node/frontend/src/htmlcanvas/objects/load-node.ts
  node/frontend/src/htmlcanvas/objects/pipe.ts
  node/frontend/src/htmlcanvas/objects/riser.ts
  node/frontend/src/store/document/calculations/warnings.ts
Due: build:frontend, build:backend

DEV-424 Drainage Warning for WCs
  node/frontend/src/calculations/drainage.ts
  node/frontend/src/htmlcanvas/objects/pipe.ts
  node/frontend/src/store/document/calculations/warnings.ts
Due: build:frontend, build:backend

DEV adding warnings for duplicate pipes and similar issues
  node/backend/src/controllers/error.ts
  node/common/src/api/constants/example-drawing.ts
  node/common/src/models/Error.ts
  node/frontend/src/api/error-report.ts
  node/frontend/src/components/editor/DrawingCanvas.vue
  node/frontend/src/views/Error.vue
  node/frontend/src/views/settings/Debug.vue
Due: build:frontend, build:backend

DEV-560 Riser/Stack Results
  node/frontend/src/htmlcanvas/objects/riser.ts
  node/frontend/src/store/document/calculations/riser-calculation.ts
Due: build:frontend, build:backend

Resolve DEV-357 "Feedback"
  node/frontend/src/calculations/calculation-engine.ts
  node/frontend/src/store/document/calculations/warnings.ts
Due: build:frontend, build:backend

DEV-158 Added Fitting Name
  node/backend/src/services/DocumentUpgrader.ts
  node/common/src/api/config.ts
  node/common/src/api/constants/example-drawing.ts
  node/common/src/api/document/entities/fitting-entity.ts
  node/common/src/api/upgrade.ts
  node/frontend/src/components/editor/property-window/PlantProperties.vue
  node/frontend/src/htmlcanvas/lib/black-magic/auto-connect.ts
  node/frontend/src/htmlcanvas/lib/black-magic/split-pipe.ts
  node/frontend/src/htmlcanvas/lib/object-traits/connectable.ts
  node/frontend/src/htmlcanvas/objects/fitting.ts
  node/frontend/src/htmlcanvas/tools/insert-pipes.ts
  node/frontend/src/store/document/calculations/fitting-calculation.ts
Due: build:frontend, build:backend

DEV improve website crawler
  .gitignore
  .gitlab-ci.yml
  docs/infrastructure/build-server.md
  scripts/crawler/config/.local.config
  scripts/crawler/config/.prod.config
  scripts/crawler/config/.stage.config
  scripts/crawler/config/.test.config
  scripts/crawler/crawl.js
  scripts/crawler/crawl.sh
  scripts/crawler/package-lock.json
  scripts/crawler/package.json
  scripts/reports/config/.local.config
  scripts/reports/config/.manufacturers.config
  scripts/reports/scrape_results.sh
Due: none

Dev crawler script improvements
  .gitlab-ci.yml
Due: none

Cleanup
  scripts/chromedriver/.gitignore
Due: none

Bump version to v1.8.2
  .gitlab-ci.yml
  docs/development/deployments.md
  node/frontend/package-lock.json
  node/frontend/package.json
  node/frontend/service-worker.js
Due: build:frontend, build:backend

DEV-472 Filters and Warnings panel in Results view to remember settings
  node/common/src/api/document/entities/plants/plant-entity.ts
  node/common/src/api/document/entities/types.ts
  node/frontend/src/calculations/utils.ts
  node/frontend/src/components/editor/CalculationsSidebar.vue
  node/frontend/src/components/editor/DrawingCanvas.vue
  node/frontend/src/components/editor/Warnings.vue
  node/frontend/src/htmlcanvas/layers/calculation-layer.ts
  node/frontend/src/htmlcanvas/lib/object-traits/calculated-object.ts
  node/frontend/src/lib/filters/results.ts
  node/frontend/src/lib/filters/warnings.ts
  node/frontend/src/lib/localStorage.ts
  node/frontend/src/lib/types.ts
  node/frontend/src/lib/utils.ts
  node/frontend/src/main.ts
  node/frontend/src/store/document/calculations/big-valve-calculation.ts
  node/frontend/src/store/document/calculations/calculation-field.ts
  node/frontend/src/store/document/calculations/directed-valve-calculation.ts
  node/frontend/src/store/document/calculations/fitting-calculation.ts
  node/frontend/src/store/document/calculations/fixture-calculation.ts
  node/frontend/src/store/document/calculations/flow-source-calculation.ts
  node/frontend/src/store/document/calculations/pipe-calculation.ts
  node/frontend/src/store/document/calculations/plant-calculation.ts
  node/frontend/src/store/document/calculations/riser-calculation.ts
  node/frontend/src/store/document/calculations/system-node-calculation.ts
  node/frontend/src/store/document/calculations/types.ts
  node/frontend/src/store/document/calculations/warnings.ts
  node/frontend/src/store/document/mutations.ts
  node/frontend/src/store/document/types.ts
  node/frontend/src/views/filters/index.ts
Due: build:frontend, build:backend

DEV-520 Blucher FW and IO
  node/backend/src/services/DocumentUpgrader.ts
  node/common/src/api/catalog/initial-catalog/au-catalog.ts
  node/common/src/api/catalog/initial-catalog/uk-catalog.ts
  node/common/src/api/catalog/initial-catalog/us-catalog.ts
  node/common/src/api/catalog/types.ts
  node/common/src/api/config.ts
  node/common/src/api/constants/example-drawing.ts
  node/common/src/api/document/drawing.ts
  node/common/src/api/document/entities/directed-valves/directed-valve-entity.ts
  node/common/src/api/document/entities/directed-valves/valve-types.ts
  node/common/src/api/document/entities/types.ts
  node/common/src/api/locale/values.ts
  node/common/src/api/upgrade.ts
  node/frontend/src/calculations/calculation-engine.ts
  node/frontend/src/calculations/drainage.ts
  node/frontend/src/calculations/utils.ts
  node/frontend/src/components/editor/property-window/DirectedValveProperties.vue
  node/frontend/src/htmlcanvas/lib/object-traits/connectable.ts
  node/frontend/src/htmlcanvas/objects/directed-valve.ts
  node/frontend/src/htmlcanvas/tools/insert-directed-valve.ts
  node/frontend/src/lib/catalog/displaySchema.ts
  node/frontend/src/store/catalog/index.ts
  node/frontend/src/store/document/calculations/calculation-field.ts
  node/frontend/src/store/document/calculations/directed-valve-calculation.ts
  node/frontend/src/store/document/entities/fillDirectedValveFields.ts
  node/frontend/src/store/document/entities/lib.ts
  node/frontend/src/views/catalog/CatalogView.vue
  node/frontend/tsconfig.json
Due: build:frontend, build:backend

BUG - Filters related Rendering error
  node/frontend/src/components/editor/CalculationsSidebar.vue
  node/frontend/src/htmlcanvas/layers/calculation-layer.ts
  node/frontend/src/lib/filters/results.ts
  node/frontend/src/store/document/calculations/big-valve-calculation.ts
  node/frontend/src/store/document/calculations/directed-valve-calculation.ts
  node/frontend/src/store/document/calculations/fitting-calculation.ts
  node/frontend/src/store/document/calculations/fixture-calculation.ts
  node/frontend/src/store/document/calculations/flow-source-calculation.ts
  node/frontend/src/store/document/calculations/pipe-calculation.ts
  node/frontend/src/store/document/calculations/riser-calculation.ts
  node/frontend/src/store/document/types.ts
Due: build:frontend, build:backend

Resolve DEV-357 "Feedback" 2
  node/frontend/src/calculations/calculation-engine.ts
  node/frontend/src/htmlcanvas/lib/base-backed-object.ts
  node/frontend/src/htmlcanvas/objects/gas-appliance.ts
  node/frontend/src/htmlcanvas/objects/load-node.ts
  node/frontend/src/htmlcanvas/objects/pipe.ts
Due: build:frontend, build:backend

DEV-562 Drainage Vertical Vent to not show in below current level
  node/backend/src/services/DocumentUpgrader.ts
  node/common/src/api/config.ts
  node/common/src/api/constants/example-drawing.ts
  node/common/src/api/upgrade.ts
  node/frontend/src/htmlcanvas/objects/riser.ts
  node/frontend/src/htmlcanvas/tools/insert-pipes.ts
  node/frontend/src/htmlcanvas/tools/insert-riser.ts
Due: build:frontend, build:backend

Update config.stage.env
  config/config.stage.env
Due: none

Resolve DEV-472 "Feedback"
  node/frontend/src/components/editor/CalculationsSidebar.vue
  node/frontend/src/htmlcanvas/layers/calculation-layer.ts
  node/frontend/src/htmlcanvas/lib/object-traits/calculated-object.ts
  node/frontend/src/htmlcanvas/lib/utils.ts
  node/frontend/src/htmlcanvas/objects/big-valve/bigValve.ts
  node/frontend/src/htmlcanvas/objects/directed-valve.ts
  node/frontend/src/htmlcanvas/objects/fitting.ts
  node/frontend/src/htmlcanvas/objects/fixture.ts
  node/frontend/src/htmlcanvas/objects/flow-source.ts
  node/frontend/src/htmlcanvas/objects/pipe.ts
  node/frontend/src/htmlcanvas/objects/riser.ts
  node/frontend/src/lib/filters/results.ts
  node/frontend/src/store/document/calculations/big-valve-calculation.ts
  node/frontend/src/store/document/calculations/directed-valve-calculation.ts
  node/frontend/src/store/document/calculations/fitting-calculation.ts
  node/frontend/src/store/document/calculations/fixture-calculation.ts
  node/frontend/src/store/document/calculations/flow-source-calculation.ts
  node/frontend/src/store/document/calculations/pipe-calculation.ts
  node/frontend/src/store/document/calculations/riser-calculation.ts
  node/frontend/src/store/document/types.ts
Due: build:frontend, build:backend

DEV-597 BUG - User filter preferences may exceed quota
  node/frontend/src/lib/filters/results.ts
  node/frontend/src/lib/filters/warnings.ts
  node/frontend/src/lib/localStorage.ts
  node/frontend/src/lib/types.ts
  node/frontend/src/store/document/calculations/directed-valve-calculation.ts
  node/frontend/src/store/profile/mutations.ts
Due: build:frontend, build:backend

Fix .gitlab-ci.yml file error
  .gitlab-ci.yml
Due: none
